.articles__table {
  a:hover {
   cursor: pointer;
  }
}

.articles__linkBox {
  a {
    margin: 0 8px;
  }
}

.articles__searchForm {
  display: inline-block;
}

.articles__select, .articles__text {
  display: inline-block;
  margin-right: 20px;
  width: auto;
}

.article__title{
  width: 70%;
}

.article__btn{
  width: 15%;
  padding-right: 0;
}

span.total_count{
  float: right;
}

#map{
  height: 400px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
  width: 70%;
}