.articles__table {
  a:hover {
   cursor: pointer;
  }
}

.articles__linkBox {
  a {
    margin: 0 8px;
  }
}

.articles__searchForm{
  display: inline-block;
}

.articles__select{
  display: inline-block;
  margin-right: 20px;
  width: auto;
}